strong {
    float: left;
	width: 18em;
}

input[type="submit"] {
	background-color: rgb(133, 241, 232);
	font-size: 120%;
	font-weight: bold;
}

legend {
    font-size: 20pt;
    font-weight: bold;
}

footer {
    margin-top: 10px;
	font-size: x-small;
	clear: both;
}